/*
    font face
 */
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.woff");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.woff");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff");
}

/*
    general style
 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #111;
  background: #f0f0f0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 979px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 94%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90.625%;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

a:active, a:focus {
  outline: none;
}

img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hide {
  display: none;
}

h1, h3, h4, h5, h6 {
  font-family: "Roboto-Black", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 200px;
  line-height: 234px;
  text-transform: uppercase;
}

h3 {
  font-size: 48px;
  line-height: 56px;
}

h4 {
  font-size: 40px;
  line-height: 47px;
}

h5 {
  font-size: 36px;
  line-height: 42px;
}

h6 {
  font-size: 20px;
  line-height: 23px;
}

p {
  /* Roboto Regular */
}

p.small {
  font-size: 16px;
  line-height: 19px;
}

p.medium {
  font-size: 20px;
  line-height: 23px;
}

p.large {
  font-size: 24px;
  line-height: 28px;
}

span {
  font-family: "Roboto-Bold", sans-serif;
}

.price span.old-price {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.price span.new-price {
  font-size: 30px;
  line-height: 45px;
  color: #f06e10;
  display: inline-block;
  margin-left: 20px;
}

.to-order {
  max-width: 280px;
}

.to-order a {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 0 8px;
  background: #f06e10;
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .to-order a {
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.to-order a:hover {
  background: #b62929;
}

.to-order p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-align: center;
  margin-top: 16px;
}

.to-order p output {
  font-family: "Roboto-Bold", sans-serif;
}

/*
    header style
 */
.header {
  padding: 39px 0 77px;
  position: relative;
}

.header__content {
  position: relative;
}

.header__content h3 {
  color: #fff;
  text-align: right;
  margin: 0 12.3% 0 auto;
}

.header__content > p.large {
  color: #fff;
  text-align: center;
  max-width: 640px;
  margin: 16px 12.3% 50px auto;
}

.header__content-img {
  position: absolute;
  top: 151px;
  right: -180px;
}

.header__content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 360px;
}

.header__content-block__photo {
  position: relative;
  position: absolute;
  top: 60px;
  left: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header__content-block__photo {
    top: 12px;
  }
}

.header__content-block__photo h1 {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}

.header__content-block__photo p.large {
  color: #b62929;
  text-transform: uppercase;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
          transform: scale(-1, -1);
  position: absolute;
  bottom: 10px;
  left: 0;
}

.header__content-block__photo img {
  position: absolute;
  top: -199px;
  left: 112px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header__content-block__photo img {
    top: -161px;
  }
}

.header__content-block__photo span.sale {
  font-size: 60px;
  line-height: 90px;
  color: #fff;
  display: block;
  width: 155px;
  position: absolute;
  top: 385px;
  right: -866px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header__content-block__photo span.sale {
    top: 437px;
  }
}

.header__content-block__photo span.sale strong {
  display: block;
  font-family: "Roboto-Light", sans-serif;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  color: #111;
  text-align: right;
  margin-top: -30px;
}

.header__content-block__photo:before {
  content: "";
  display: block;
  width: 260px;
  height: 262px;
  background: url("../img/header/leaf-3.png") no-repeat center/cover;
  position: absolute;
  top: -37px;
  left: 213px;
}

.header__content-block figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 130px;
  padding: 17px 19px 16px;
  background: #222;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
  z-index: 11;
}

.header__content-block figure span {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.header__content-block figure:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/header/icon.png") no-repeat center/cover;
  margin: 0 auto 15px;
}

.header__content-block figure:nth-of-type(2) {
  margin: 0 43px;
}

.header__content .price {
  margin: 85px 0 20px 33.8%;
}

.header__content .to-order {
  margin-left: 31.6%;
}

.header__content:before, .header__content:after {
  content: "";
  display: block;
  width: 653px;
  height: 700px;
  background: url("../img/leaf.png") no-repeat center/cover;
  position: absolute;
  z-index: -1;
}

.header__content:before {
  top: -390px;
  left: -557px;
}

.header__content:after {
  top: -160px;
  right: -508px;
}

.header:before {
  content: "";
  display: block;
  width: 100%;
  height: 670px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 26%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 26%);
  background: #b62929;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header:before {
    background: url("../img/header/bg.png") no-repeat center/cover;
  }
}

/*
    advantages style
 */
.advantages {
  padding: 76px 0 165px;
}

.advantages__content {
  position: relative;
}

.advantages__content h5 {
  text-align: right;
}

.advantages__content p.medium {
  max-width: 487px;
  text-align: center;
  margin: 10px 0 30px auto;
}

.advantages__content-img {
  margin-left: auto;
  max-width: 720px;
  position: relative;
  right: -135px;
}

.advantages__content-img img {
  margin: 0;
}

.advantages__content .to-order {
  margin: -9px 80px 0 auto;
}

/*# sourceMappingURL=style.css.map */
