/*
    advantages style
 */

.advantages {
  padding: 76px 0 165px;

  &__content {
    position: relative;

    h5 {
      text-align: right;
    }

    p.medium {
      max-width: 487px;
      text-align: center;
      margin: 10px 0 30px auto;
    }

    &-img {
      margin-left: auto;
      max-width: 720px;
      position: relative;
      right: -135px;

      img {
        margin: 0;
      }
    }

    .to-order {
      margin: -9px 80px 0 auto;
    }
  }
}