/*
    header style
 */

.header {
  padding: 39px 0 77px;
  position: relative;

  &__content {
    position: relative;

    h3 {
      color: #fff;
      text-align: right;
      margin: 0 12.3% 0 auto;
    }

    >p.large {
      color: #fff;
      text-align: center;
      max-width: 640px;
      margin: 16px 12.3% 50px auto;
    }

    &-img {
      position: absolute;
      top: 151px;
      right: -180px;
    }

    &-block {
      display: flex;
      margin-left: 360px;

      &__photo {
        position: relative;
        position: absolute;
        top: 60px;
        left: 0;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          top: 12px;
        }

        h1 {
          writing-mode: tb-rl;
          transform: scale(1, -1);
        }

        p.large {
          color: #b62929;
          text-transform: uppercase;
          writing-mode: tb-rl;
          transform: scale(-1, -1);
          position: absolute;
          bottom: 10px;
          left: 0;
        }

        img {
          position: absolute;
          top: -199px;
          left: 112px;

          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            top: -161px;
          }
        }

        span.sale {
          font-size: 60px;
          line-height: 90px;
          color: #fff;
          display: block;
          width: 155px;
          position: absolute;
          top: 385px;
          right: -866px;

          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            top: 437px;
          }

          strong {
            display: block;
            font-family: $rl, sans-serif;
            font-size: 48px;
            line-height: 72px;
            text-transform: uppercase;
            color: #111;
            text-align: right;
            margin-top: -30px;
          }
        }

        &:before {
          content: "";
          display: block;
          width: 260px;
          height: 262px;
          background: url("../img/header/leaf-3.png") no-repeat center/cover;
          position: absolute;
          top: -37px;
          left: 213px;
        }
      }

      figure {
        box-sizing: border-box;
        width: 130px;
        padding: 17px 19px 16px;
        background: #222;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        position: relative;
        z-index: 11;

        span {
          display: block;
          color: #fff;
          text-align: center;
          font-size: 14px;
          line-height: 21px;
          text-transform: uppercase;
        }

        &:before {
          content: "";
          display: block;
          width: 40px;
          height: 40px;
          background: url("../img/header/icon.png") no-repeat center/cover;
          margin: 0 auto 15px;
        }

        &:nth-of-type(2) {
          margin: 0 43px;
        }
      }
    }

    .price {
      margin: 85px 0 20px 33.8%;
    }

    .to-order {
      margin-left: 31.6%;
    }

    &:before, &:after {
      content: "";
      display: block;
      width: 653px;
      height: 700px;
      background: url("../img/leaf.png") no-repeat center/cover;
      position: absolute;
      z-index: -1;
    }

    &:before {
      top: -390px;
      left: -557px;
    }

    &:after {
      top: -160px;
      right: -508px;
    }
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 670px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 26%);
    background: #b62929;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      background: url("../img/header/bg.png") no-repeat center/cover;
    }

  }
}