/*
    spray style
 */

.spray {
  padding: 85px 0 115px;
  position: relative;

  @include mq(lg) {
    padding: 60px 0;
  }

  @include mq(s) {
    padding-top: 92px;
  }

  &__content {
    display: flex;

    @include mq(lg) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &-text {
      width: 262px;
      margin-top: 70px;

      @include mq(lg) {
        order: 2;
        width: 500px;
        margin-top: 0;
      }

      @include mq(md) {
        width: 400px;
      }

      @include mq(s) {
        width: 100%;
      }

      p {

        @include mq(xs) {
          font-size: 16px;
          line-height: 19px;
        }

        &:nth-child(2) {
          margin: 51px auto 77px;

          @include mq(s) {
            margin: 20px auto 30px;
          }
        }
      }

      .price {

        @include mq(s) {
          text-align: center;
        }
      }
    }

    &-img {
      width: 500px;
      margin: 0 52px 0 auto;
      position: relative;

      @include mq(lg) {
        margin: 0 auto 30px;
      }

      @include mq(xs) {
        width: 100%;
      }

      img{
        position: relative;
        z-index: 11;

        @include mq(xs) {
          width: 28%;

        }
      }

      span {
        display: block;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        position: absolute;
        z-index: 9;
        display: none;

        &:before {
          content: "";
          display: block;
          height: calc(100% + 36px);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: -1;
        }

        &.left {
          width: 177px;
          top: 118px;
          left: -14px;

          &:before {
            width: calc(100% + 82px);
            background: linear-gradient(270deg, #F0F0F0 0%, #B62929 100%);
            transform: translateY(-50%) scale(-1, 1);
            left: 0;
          }
        }

        &.right {
          width: 168px;
          bottom: 123px;
          right: -18px;

          &:before {
            width: calc(100% + 91px);
            background: linear-gradient(270deg, #F0F0F0 0%, #B62929 100%);
            right: 0;
          }
        }
      }

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
      }

      &:before {
        width: 500px;
        height: 500px;
        background: #b62929;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        @include mq(xs) {
          width: 94%;
          height: 90%;
        }
      }

      &:after {
        width: 468px;
        height: 486px;
        background: url("../img/spray/leaf.png") no-repeat center/cover;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);

        @include mq(xs) {
          width: 88%;
          height: 88%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &-order {
      width: 280px;
      margin-top: 110px;
      position: relative;

      @include mq(lg) {
        order: 3;
        margin-top: 0;
      }

      @include mq(s) {
        margin-top: 40px;
      }

      ul {

        li {

          p {

          }

          &:nth-child(1) {
            margin-bottom: 22px;

            @include mq(s) {
              margin-bottom: 15px;
            }
          }
        }
      }

      form {
        margin-top: 80px;

        @include mq(s) {
          margin-top: 30px;
        }

        .form-group {

          input {
            width: 262px;
            background: #dbdbdb;
          }

          &.tel {
            margin: 10px 0 60px;
          }
        }
      }

      &:before {
        /* скрыть на md */
        content: "";
        display: block;
        width: 414px;
        height: 640px;
        background: url("../img/spray/girl.png") no-repeat center/cover;
        position: absolute;
        top: -130px;
        right: -178px;
        z-index: -1;

        @include mq(md) {
          display: none;
        }
      }
    }
  }

  &:before {
    content: "";
    display: block;
    width: 1920px;
    height: 500px;
    background: url("../img/lines.png") no-repeat center/cover;
    position: absolute;
    top: 180px;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;

    @include mq(md) {
      top: 30px;
      right: 0;
      transform: none;
    }
  }
}