/*
    stock style
 */

.stock {
  background: #b62929;
  padding: 40px 0 43px;

  @include mq(md) {
    padding: 29px 0 38px;
  }

  &__content {
    position: relative;
    z-index: 9;

    h3 {
      max-width: 640px;
      color: #fff;
      text-align: center;
      margin-left: 135px;

      @include mq(lg) {
        margin: 0 auto;
      }

      @include mq(xs) {
        font-size: 30px;
        line-height: 35px;
      }

      span {
        display: block;
        font-family: $r, sans-serif;
        color: #111;
      }
    }

    &-img {
      max-width: 648px;
      margin: 45px 0 49px 135px;

      @include mq(lg) {
        margin: 45px auto 49px;
      }

      @include mq(xs) {
        position: relative;
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
      }

      img {
        width: 100%;
      }
    }

    p.sale {
      font-size: 36px;
      line-height: 42px;
      color: #fff;
      margin-left: 273px;

      @include mq(lg) {
        margin: 0 auto;
        text-align: center;
      }

      span {
        font-family: $rbl, sans-serif;

        @include mq(xs) {
          display: block;
        }
      }
    }

    p.period {
      margin: 10px 0 0 333px;
      text-align: left;

      @include mq(lg) {
        margin: 10px auto 0;
        text-align: center;
      }
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
    }

    &:before {
      /* скрыть на lg */
      width: 653px;
      height: 700px;
      background: url("../img/leaf.png") no-repeat center/cover;
      top: -80px;
      left: -508px;

      @include mq(lg) {
        display: none;
      }
    }

    &:after {
      width: 510px;
      height: 564px;
      background: url("../img/stock/gift.png") no-repeat center/cover;
      top: 20px;
      right: -121px;

      @include mq(lg) {
        width: 653px;
        height: 700px;
        background: url("../img/leaf.png") no-repeat center/cover;
        top: -80px;
        right: -300px;
      }

      @include mq(md) {
        right: -420px;
      }

      @include mq(s) {
        width: 340px;
        height: 365px;
        top: -39px;
        right: -266px;
      }
    }
  }
}